@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  background: #F9F9F9;
  width: 100%;
  height: 100%;
  min-height: calc(100vh);
  position: relative;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.fadeInSlow
{
  animation: fadeIn 1.2s;
}

.fadeIn
{
  animation: fadeIn 0.5s;
}

.fadeInFast
{
  animation: fadeIn 0.25s;
}

@keyframes fadeIn 
{
    0% { opacity: 0;
        transform : translatey(10px); }
    100% { opacity: 1;
        transform : translatey(0px); }
}

